discord.py
Pillow~=8.2.0
praw~=7.2.0
asyncio~=3.4.3
python-dotenv~=0.17.1
requests~=2.25.1
discord~=1.0.1
discord-components==1.1.4
numpy~=1.19.5
keras~=2.4.3
nltk~=3.6.2
pymongo~=3.11.4
dnspython
bs4~=0.0.1
wikipedia~=1.4.0
beautifulsoup4~=4.9.3
pynacl
youtube_dl
berserk
python-chess==0.31.4
cairosvg